<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multilevel Parking System||Home</title>

  <!--Css Script-->
  <link rel="stylesheet" href="/css/home2.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600&family=Alegreya&family=Brawler&family=Caladea:ital@0;1&family=Enriqueta:wght@400;500&family=Gelasio:ital@0;1&family=Headland+One&family=Lora:ital@1&family=Merriweather:ital,wght@1,700&display=swap"
    rel="stylesheet">

</head>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener('scroll', function () {
      if (window.scrollY > 100) {
        document.getElementById('sidebarMenu').classList.add('fixed-top');
      } else {
        document.getElementById('sidebarMenu').classList.remove('fixed-top');
        // remove padding top from body
        document.body.style.paddingTop = '0';
      }
    });
  });

  function togglediv(id) {
    document.querySelectorAll(".TableBody").forEach(function (div) {
      if (div.id == id) {
        // Toggle specified DIV
        div.style.display = div.style.display == "none" ? "block" : "block";
      } else {
        // Hide other DIVs
        div.style.display = "none";
      }
    });
  }

  function togglediv1(id) {
    document.querySelectorAll(".Table").forEach(function (div) {
      if (div.id == id) {
        // Toggle specified DIV
        div.style.display = div.style.display == "none" ? "block" : "block";
      } else {
        // Hide other DIVs
        div.style.display = "none";
      }
    });
  }


  function displayRadioValue() {
    var ele = document.getElementsByName('photoid_type');

    for (i = 0; i < ele.length; i++) {
      if (ele[i].checked)
        document.getElementById("result").innerHTML = "Identification Type: " + ele[i].value;
    }
  }

 
  function FloorValue(id) {
    // document.getElementById('floorno').innerHTML = id;
    document.getElementById('floorno').value = id;
  }
  
  function SlotNo(id) {
    // document.getElementById('slot').innerHTML = id;
    document.getElementById('slot').value = id;
  }
  function myFunction() {
    alert("Please collect your token");
  }
  
</script>

<body>
  <!--===========symbols===========-->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="home" viewBox="0 0 16 16">
      <path
        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
      <path
        d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
      <path fill-rule="evenodd"
        d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
    </symbol>
  </svg>
  <!--=============================-->
  <div class="container-fluid container-1">
    <header>
      <h1 class="main-heading">Multilevel Parking System</h1>
    </header>
  </div>
  


  <!--==============sidebar=============-->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul id="nav " class="flex-column">
            <li class="nav-item ">
              <a class="nav-link active sidebar-headings" aria-current="page" href="home2">
                <span data-feather="home"></span>
                <svg class="bi me-2" width="19" height="19">
                  <use xlink:href="#home" />
                </svg>
                Home
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link sidebar-headings" href="dashboard.html">
                <span data-feather="dashboard"></span>
                <svg class="bi me-2" width="19" height="19">
                  <use xlink:href="#speedometer2" />
                </svg>
                Dashboard
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link sidebar-headings" href="history">
                <span data-feather="history"></span>
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#table" />
                </svg>
                History
              </a>
            </li>
            <li>
              <div>
                <button class="btn btn-light sign-out btn-lg "><svg xmlns="http://www.w3.org/2000/svg" width="19"
                    height="19" fill="currentColor" class="bi bi-box-arrow-right " viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                    <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                  </svg> <a href="/logout">Sign out</a></button>

              </div>
            </li>
          </ul>

        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Home</h1>
        </div>
        <!--==============CHECK IN BUTTON=============-->
        <p>
          <button class="btn btn-secondary col-lg-12  checkin-button" onclick="togglediv('checkin')"
            style="background-color: darkslateblue;" type="button" data-bs-toggle="collapse" data-bs-target="#checkin"
            aria-expanded="false" aria-controls="collapseExample">
            Check in<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </button>
        </p>

        <!--==============CHECK IN BUTTON -INTERNAL=============-->
        <p>
          <div class="purple ">
            <div class=" container  TableBody"id="checkin">
              <div class="row ">
                <div class="col-md-6">
                  <div class="row  flex-md-row mb-4 ">
                    <div class="col p-4 d-flex flex-column position-static">
                      <div class="collapse content" id="checkin">
                        <div class="card card-body">
                          <div>
                            <div>
                              <form class="menu p-5" action="/api/users/checkin" method="POST">
                                <h5 class="xyz">User Details:</h5>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Drivers Name</label>
                                  <input type="text" class="form-control" placeholder="Name" name="fullname" required>
                                </div>

                                <div class="mb-3">
                                  <label class="form-label pt-2">Identification type</label>
                                  <div class="dropdown">
                                    <input type="radio"  name="photoid_type" onclick="displayRadioValue()" value="Aadhar card">
                                    <label for="male">Aadhar card</label><br>
                                    <input type="radio"  name="photoid_type" onclick="displayRadioValue()" value="Driving lisence">
                                    <label for="female">Driving lisence</label><br>
                                    <input type="radio"  name="photoid_type" onclick="displayRadioValue()" value="Pan card">
                                    <label for="other">Pan card</label><br>
                                    <input type="radio"  name="photoid_type"  onclick="displayRadioValue()" value="Passport Number">
                                    <label for="other">Passport Number</label>
                                      
                                    <div id="result"></div>

                                    <input type="text" class="form-control" placeholder="Identification Number" name="uid_no"required>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Email address</label>
                                  <input type="text" class="form-control" placeholder="email@example.com" name="email" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Contact number</label>
                                  <input type="number" class="form-control" placeholder="8989xxxxxx"name="contact" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Residential Address</label>
                                  <input type="text" class="form-control" placeholder="1234 Main St" name="address" required>
                                </div>
                               

                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 ">
                  <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <div class="collapse content" id="checkin">
                        <div class="card card-body">
                          <div>
                            <div>
                             
                              <p>
                              <div id="1" name="floor" class="btn btn-primary" onclick="togglediv1('collapseExample1');FloorValue(this.id);"  data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                              Floor1 </div>
                              <div id="2" class="btn btn-primary" onclick="togglediv1('collapseExample2');FloorValue(this.id);" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                              Floor2</div>
                              </p>
                              <br>

                              <div class="collapse Table" id="collapseExample1">
                                <div class="card card-body">
                                  <div class="container m">
                                    <div class="row row-cols-3">
                                      <% result.forEach((result) => { %>
                                      <% if(result.floor == 1){ %>
                                      <% if(result.availability == 0){ %>
                                      <div class="col grid" id="<%= result.slotno %>" onclick="SlotNo(this.id)" name="slotno" style="background-color: green; color:white ;">
                                        slot-<%= result.slotno %></div>
                                      <% } %>
                                      <% if(result.availability == 1){ %>
                                      <div type="radio" class="col grid" name="slotno" style="background-color: red; color:white ;">
                                        slot-<%= result.slotno %></div>
                                      <%  }}}) %>
                                    </div>
                                  </div></div>
                              </div>
                              
                              <div class="collapse Table" id="collapseExample2">
                                <div class="card card-body">
                                 <!--grid for slot selection-->
                              <div class="container m">
                                <div class="row row-cols-3">
                                  <% result.forEach((result) => { %>
                                  <% if(result.floor == 2){ %>
                                  <% if(result.availability == 0){ %>
                                  <div type="radio" name="slotno" id="<%= result.slotno %>" onclick="SlotNo(this.id)" class="col grid" style="background-color: green; color:white ;">
                                    slot-<%= result.slotno %></div>
                                  <% } %>
                                  <% if(result.availability == 1){ %>
                                  <div  type="radio" name="slotno" class="col grid" style="background-color: red; color:white ;">
                                    slot-<%= result.slotno %></div>
                                  <%  }}}) %>
                                </div>
                              </div></div>
                              </div>
                             <div>
                              selected Floor:<br><input type="text" id="floorno" name="floor" value  readonly><br>
                              selected slot:<br><input type="text" id="slot" name="slotno" value readonly><br>
                          </div>

                              <!--For Floor 2-->
                              <div> 
                                <h5 class="xyz">vehicle Details:</h5>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Vehicle Number</label>
                                  <input type="text" class="form-control" placeholder="MP-09-007" name="vehicle_no" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Vehicle Model</label>
                                  <input type="text" class="form-control" placeholder="Tata Harrier" name="vehicle_model" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label pt-2">Vehicle colour</label>
                                  <input type="text" class="form-control" placeholder="Grey" name="vehicle_color" required>
                                </div>
                              </div>
                            </div>

                              <div>
                                
                                <button type="submit" onclick="myFunction()" class="btn btn-secondary col-lg-12 mt-5"
                                  style="background-color: darkslateblue;">Book Slot</button>
                                </form>
                        
                                <div class="mb-3 ">
                                  <label class="form-label pt-4">Your Token Number:</label>
                                  <label for="Name" placeholder="Your Token" class="form-control" id=""><%= result1 %></label>
                                  <P pt-3>
                                    [save this number for further use]
                                  </P>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </p>
        <p>
          <button class="btn btn-secondary col-lg-12" onclick="togglediv('checkout')"
            style="background-color: darkslateblue;" type="button" data-bs-toggle="collapse" data-bs-target="#checkout"
            aria-expanded="false" aria-controls="collapseExample">
            Check out<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </button>
        </p>
        <div class="collapse ml-3 mb-3 TableBody" id="checkout">
          <div class="card card-body">
            <form action="" method="post">
              <div class="form-group">
                <label>Enter token number:</label>
                <input type="text" class="form-control" name="token" required>
              </div><br>
              <button type="submit" class="btn btn-primary btn-m"
                formaction="/api/users/checkout">Check-Out</button><br>
              <!-- <input type="number" class="form-control " placeholder="billing amount aaega fetch hokr"> -->
              <br><span></span>
              <br>
              <button type="submit" class="btn btn-primary btn-m" formaction="/api/users/invoice">Generate
                Invoice</button>
            </form>
            <!-- <input class="form-control me-2" type="search" placeholder="Type the unique token number" aria-label="Search">
              <h5 class="xyz pt-3">Billing Amount:</h5>
              <div class="mb-3">
                <input type="number" class="form-control " placeholder="billing amount aaega fetch hokr" required>
              </div>
              <h5 class="xyz pt-3">Choose Payment Method:</h5>
              <button class="btn btn-primary col-3 pt-2" type="submit" formaction="/api/users/checkout" >Check out</button>
              <button class="btn btn-primary col-3 mt-3" type="submit" formaction="/api/users/invoice" >Generate Invoice</button>
              </form> -->
          </div>
        </div>
      </main>

      <!--Footer Section-->
      <footer class="footer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-github footer-icon" viewBox="0 0 16 16">
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-linkedin footer-icon" viewBox="0 0 16 16">
          <path
            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
        </svg>
      </footer>
</body>

</html>